{
  "mcpServers": {
    "hashkey-mcp": {
      "command": "npx",
      "args": ["-y", "hashkey-mcp@latest"],
      "env": {
        "COINBASE_API_KEY_NAME": "your_api_key_name",
        "COINBASE_API_PRIVATE_KEY": "your_private_key",
        "SEED_PHRASE": "your_seed_phrase",
        "COINBASE_PROJECT_ID": "your_project_id",
        "ALCHEMY_API_KEY": "your_alchemy_api_key",
        "PINATA_JWT": "your_pinata_jwt",
        "OPENROUTER_API_KEY": "your_openrouter_api_key",
        "CHAIN_ID": "177"
      },
      "disabled": false,
    }
  }
}